extends ../templates/mainLayout.pug

block content
    br
    h1 Datasheets
    br
    .datasheet-list
        .ec-motor
            h3 EC Motor Controllers
            ul
                li
                    a(href='https://drive.google.com/file/d/16p3pThkZVccCvwLoM-KG5-Yt9wTqhpa-/view?usp=sharing' target='_blank') EVO/™ECM-3PT (3 Point Floating Control Unit)
                li
                    a(href='https://drive.google.com/file/d/1ahBTga9kY5Iwll0cx9A-ZH8_R63EL64i/view' target='_blank')
                        | EVO/™ECM-4Spd-PRO Control Unit (4 Speed Interface Unit)
                li
                    a(href='' target='_blank') EVO/™ECM-ACU+ Series 1 (Automation Control Unit)
                li
                    a(href='https://drive.google.com/file/d/1yLLMQnPmNuUCbPjG5QJWtACZG3_wEAtr/view' target='_blank') EVO/™ECM-ACU-PRO S1.5 (Automation Control Unit)
                li
                    a(href='https://drive.google.com/file/d/1EchkIFyHA_yvEkJId7zpL-hlKiqhALsG/view' target='_blank') EVO/™ECM-ACU-PRO S2.0 (Automation Control Unit)
                li
                    a(href='https://drive.google.com/file/d/1dwtl33HLcICDaVy_TlCdNfcvLX2TUwJs/view' target='_blank') EVO/™ECM-BCU (Bluetooth® Control Unit)
                li
                    a(href='https://drive.google.com/file/d/1V3_azrL5EK5nP_BsiEr2Kli0m15qty9-/view' target='_blank') EVO/™ECM-CTC (Changeover Temperature Control)
                li
                    a(href='https://drive.google.com/file/d/1V6BQqEr0SanGGUoLdIr1CrD-Evnk4pyH/view' target='_blank')
                        | EVO/™ECM-DPC (Differential Air Pressure Control Unit)
                li
                    a(href='https://drive.google.com/file/d/1PSM5PBIhO66xTDv0hY78sD_LberLN2YV/view' target='_blank')
                        | EVO/™ECM-DTC16 (Differential Temperature Control Unit)
                li
                    a(href='https://drive.google.com/file/d/1FFOtsA4Dc4iTvSNg5p4Kd746zS-lHSpJ/view' target='_blank') EVO/™ECM-EHC (Electric Heater Control Unit)
                li
                    a(href='' target='_blank') EVO/™ECM-GCU (Gradual Control Unit)
                li
                    a(href='' target='_blank') EVO/™ECM-IRC (Infrared Remote Control Units)
                li
                    a(href='' target='_blank') EVO/™ECM-MDR16 (Motor Driver Control Unit)
                li
                    a(href='' target='_blank')
                        | EVO/™ECM-Modbus 2.0 (Application-Specific ModBus RTU)
                li
                    a(href='' target='_blank') EVO/™ECM-MSPD (Multi-Speed Controller)
                li
                    a(href='' target='_blank') EVO/™ECM-SNV-S1 (Severe Environment Control Unit)
                li
                    a(href='' target='_blank') EVO/™ECM-VCU-PRO (Visual Unit)
                li
                    a(href='' target='_blank') EVO/™ECM-X13 (X13 EC Motor Automation Interface)
        .accessory
            h3 Accessory:
            ul
                li
                    a(href='' target='_blank') EVO/™ECM-MXC2 (2 Motor Control Connector)
                li
                    a(href='' target='_blank') EVO/™ECM-TAPS(Speed Selector Panel)
                li
                    a(href='' target='_blank')
                        | EVO/™ECM-TAPx4(Four-Line, Four-Function Select Control
                        | Unit)
                li
                    a(href='' target='_blank') EVO/™ECM-RLSW Relay Switch
        .retired
            h3 Retired Products:
            ul
                li
                    a(href='' target='_blank') EVO/™ECM-BCU (Bluetooth® Control Unit)
                li
                    a(href='' target='_blank')
                        | EVO/™10Y-4Spd Control Unit (Replaced by EVO/™ECM-4Spd-PRO)
                li
                    a(href='' target='_blank')
                        | EVO/™ECM-4Spd Control Unit (4 Speed Interface Unit)
                        | (Replaced by EVO/™ECM-4Spd-PRO)
                li
                    a(href='' target='_blank') EVO/™ECM-ACU+ (Replaced by EVO/™ECM-ACU-PRO)
                li
                    a(href='' target='_blank') EVO/™ECM-Air Fiddler™
                li
                    a(href='' target='_blank')
                        | EVO/™ECM-DCU Digital Control Unit (Replaced by
                        | EVO/™ECM-VCU-PRO)
                li
                    a(href='' target='_blank')
                        | EVO/™IF-4DI1AO (4 Digital Inputs, 1 0-10Vdc Output
                        | Universal Control)
                li
                    a(href='' target='_blank')
                        | EVO/™ECM-MCU Manual Control Unit (Replaced by
                        | EVO/™ECM-VCU-PRO)
                li
                    a(href='' target='_blank') EVO/™ECM-ModBus (Application-Specific ModBus RTU)
                li
                    a(href='' target='_blank')
                        | EVO/™ECM-UCU (End) User Control Unit (Replaced by
                        | EVO/™ECM-VCU-PRO)
                li
                    a(href='' target='_blank')
                        | EVO/™ECM-VCU S2 (Visual Control Unit) (Replaced by
                        | EVO/™ECM-VCU-PRO)
                li
                    a(href='' target='_blank')
                        | EVO/™ECM-VCU S3 (Visual Control Unit) (Replaced by
                        | EVO/™ECM-VCU-PRO)
                li
                    a(href='' target='_blank') EVO/™ECM-VCU (Replaced by EVO/™ECM-VCU-PRO)
    br
    .text-center
        a.btn.btn-secondary(href=baseUrl + 'datasheets.html' type='button')
            | Back to Top
