extends ../templates/mainLayout.pug

block head
    title Datasheets — Evolution Controls Inc.

block content
    br
    h1 Datasheets
    br
    .datasheet-list
        .ec-motor
            h3 EC Motor Controllers
            p
                a(href='https://drive.google.com/file/d/16p3pThkZVccCvwLoM-KG5-Yt9wTqhpa-/view?usp=sharing' target='_blank') EVO/™ECM-3PT (3 Point Floating Control Unit)
            p
                a(href='https://drive.google.com/file/d/1ahBTga9kY5Iwll0cx9A-ZH8_R63EL64i/view' target='_blank')
                        | EVO/™ECM-4Spd-PRO Control Unit (4 Speed Interface Unit)
            p
                a(href='' target='_blank') EVO/™ECM-ACU+ Series 1 (Automation Control Unit)
            p
                a(href='https://drive.google.com/file/d/1yLLMQnPmNuUCbPjG5QJWtACZG3_wEAtr/view' target='_blank') EVO/™ECM-ACU-PRO S1.5 (Automation Control Unit)
            p
                a(href='https://drive.google.com/file/d/1EchkIFyHA_yvEkJId7zpL-hlKiqhALsG/view' target='_blank') EVO/™ECM-ACU-PRO S2.0 (Automation Control Unit)
            p
                a(href='https://drive.google.com/file/d/1dwtl33HLcICDaVy_TlCdNfcvLX2TUwJs/view' target='_blank') EVO/™ECM-BCU (Bluetooth® Control Unit)
            p
                a(href='https://drive.google.com/file/d/1V3_azrL5EK5nP_BsiEr2Kli0m15qty9-/view' target='_blank') EVO/™ECM-CTC (Changeover Temperature Control)
            p
                a(href='https://drive.google.com/file/d/1V6BQqEr0SanGGUoLdIr1CrD-Evnk4pyH/view' target='_blank')
                        | EVO/™ECM-DPC (Differential Air Pressure Control Unit)
            p
                a(href='https://drive.google.com/file/d/1PSM5PBIhO66xTDv0hY78sD_LberLN2YV/view' target='_blank')
                        | EVO/™ECM-DTC16 (Differential Temperature Control Unit)
            p
                a(href='https://drive.google.com/file/d/1FFOtsA4Dc4iTvSNg5p4Kd746zS-lHSpJ/view' target='_blank') EVO/™ECM-EHC (Electric Heater Control Unit)
            p
                a(href='https://drive.google.com/file/d/1jaDsBNPylzwNqo2kc7T9wIXBAw_zluiI/view' target='_blank') EVO/™ECM-GCU (Gradual Control Unit)
            p
                a(href='https://drive.google.com/file/d/1b4ODyKoh2mJE-LKP8bmkGHDx1oUAjVBa/view' target='_blank') EVO/™ECM-IRC (Infrared Remote Control Units)
            p
                a(href='https://drive.google.com/file/d/1ZVqHaU3f5RYqeTD8IdK6pGWs2A0ZO6of/view' target='_blank') EVO/™ECM-MDR16 (Motor Driver Control Unit)
            p
                a(href='https://drive.google.com/file/d/1bdKZRCLZLl4rLq7NFQESQgsVO0rU4OS4/view' target='_blank') EVO/™ECM-Modbus 2.0 (Application-Specific ModBus RTU)
            p
                a(href='https://drive.google.com/file/d/1vefyMKZoL9hs3iyCIwVtKiXX_hfBVs4k/view' target='_blank') EVO/™ECM-MSPD (Multi-Speed Controller)
            p
                a(href='https://drive.google.com/file/d/1cWGhbnlKYs_Pub-nTQvWc9W-n7CsatC0/view' target='_blank') EVO/™ECM-SNV-S1 (Severe Environment Control Unit)
            p
                a(href='https://drive.google.com/file/d/1FGUxFCGAXYT7iJqL3FAPhKXea-YeqhQ9/view' target='_blank') EVO/™ECM-VCU-PRO (Visual Unit)
            p
                a(href='https://drive.google.com/file/d/1_edPcC7Wrx_4JEs36Ay2-kksXQ_tHeBQ/view' target='_blank') EVO/™ECM-X13 (X13 EC Motor Automation Interface)
        br
        br
        .accessory
            h3 Accessory:
            p
                a(href='https://drive.google.com/file/d/1kvoAwhRqu-d7kvYWWe3uplzPY8-LIESd/view' target='_blank') EVO/™ECM-MXC2 (2 Motor Control Connector)
            p
                a(href='https://drive.google.com/file/d/1KuFG-s4MW52t6LEnTnhU2rCpcdMQAs8g/view' target='_blank') EVO/™ECM-TAPS(Speed Selector Panel)
            p
                a(href='https://drive.google.com/file/d/1L0ONULZ5_ycv5RcWe_m0mbajXPd1mCoA/view' target='_blank')
                        | EVO/™ECM-TAPx4(Four-Line, Four-Function Select Control
                        | Unit)
            p
                a(href='https://drive.google.com/file/d/1ydO92-_CkPxfNlO2GdedOhhOU0DLCq4A/view' target='_blank') EVO/™ECM-RLSW Relay Switch
        br
        br
        .hvac
            h3 HVAC Controls:
            p
                a(href='https://drive.google.com/file/d/1dpGEvl24ZKqtaNVsoMtEVvvRLkV2S8Nd/view' target='_blank') EVO/™10Y-3PT (3 Point Floating to 10V Control Unit)
            p
                a(href='https://drive.google.com/file/d/1XWxmSGQ-d943aKfvATYHEByTEo1Xp3vJ/view' target='_blank') EVO/™10Y-PWMa (PWM to 0-10V Control Unit)
            p
                a(href='https://drive.google.com/file/d/1k--w5Dpe0LZ0Obnhydu8z-MwCRowjiad/view' target='_blank') EVO/™EHM (Electric Heat Modulator)
            p
                a(href='https://drive.google.com/file/d/12xKa7Xz0NxCwMuKsDTD-OLO7oOWixvUL/view' target='_blank') EVO/™IRC-10Y Interface (0-10V Infrared Remote Control System)
            p
                a(href='https://drive.google.com/file/d/1sINTgxOEnARD6s5QPchOqvb_gDRHx5BH/view' target='_blank') EVO/™RLY-4OR (4 Input OR)
            p
                a(href='https://drive.google.com/file/d/1wVUN-lrqnpQkdYuOq1IpyYcjOjFuNbeI/view' target='_blank') EVO/™RNet Control Unit
        br
        br
        .retired
            h3 Retired Products:
            p
                a(href='https://drive.google.com/file/d/1admOoN1YaodPMH5zAlPeBBFkfhAz5U58/view?usp=sharing' target='_blank') EVO/™ECM-BCU (Bluetooth® Control Unit)
            p
                a(href='https://drive.google.com/file/d/1OsJaJoYKFR1rKf8ZmJFkDpnu5c__cWCz/view?usp=sharing' target='_blank')
                        | EVO/™10Y-4Spd Control Unit <strong>(Replaced by EVO/™ECM-4Spd-PRO)</strong>
            p
                a(href='https://drive.google.com/file/d/1fEr7ViSjpexGFUf2MdU4F7B_D5eFDfxi/view?usp=sharing' target='_blank')
                        | EVO/™ECM-4Spd Control Unit (4 Speed Interface Unit)
                        | (Replaced by EVO/™ECM-4Spd-PRO)
            p
                a(href='https://drive.google.com/file/d/1FqRHSP3z_sz4G-E5HRFL7GQD1ytSP2Qx/view?usp=sharing' target='_blank') EVO/™ECM-ACU+ (Replaced by EVO/™ECM-ACU-PRO)
            p
                a(href='https://drive.google.com/file/d/1osX94f46GVJQYL7B1NL1yEPHA2Vff8Nx/view?usp=sharing' target='_blank') EVO/™ECM-Air Fiddler™
            p
                a(href='https://drive.google.com/file/d/13YiN2a5pTgubJxgn7ric_ZnoiBq7M5uf/view?usp=sharing' target='_blank')
                        | EVO/™ECM-DCU Digital Control Unit (Replaced by
                        | EVO/™ECM-VCU-PRO)
            p
                a(href='https://drive.google.com/file/d/10Q9COQ5BNEml2q-M6cFktJoA7DNnOKmS/view?usp=sharing' target='_blank')
                        | EVO/™IF-4DI1AO (4 Digital Inputs, 1 0-10Vdc Output
                        | Universal Control)
            p
                a(href='https://drive.google.com/file/d/17vd1lPESr9T7_9CucfnuayTxGS7ErBsk/view?usp=sharing' target='_blank')
                        | EVO/™ECM-MCU Manual Control Unit (Replaced by
                        | EVO/™ECM-VCU-PRO)
            p
                a(href='https://drive.google.com/file/d/11Uuh-7U8hXCik36qQfhX53ofMhcN3XHp/view?usp=sharing' target='_blank') EVO/™ECM-ModBus (Application-Specific ModBus RTU)
            p
                a(href='https://drive.google.com/file/d/15bpwAXlSrSeJ2Q6CkGM_tuMYAHRn9Rh3/view?usp=sharing' target='_blank')
                        | EVO/™ECM-UCU (End) User Control Unit (Replaced by
                        | EVO/™ECM-VCU-PRO)
            p
                a(href='https://drive.google.com/file/d/1e7CdjqhGYLprxVr3iVqvkVHiHbVaoYMW/view?usp=sharing' target='_blank')
                        | EVO/™ECM-VCU S2 (Visual Control Unit) (Replaced by
                        | EVO/™ECM-VCU-PRO)
            p
                a(href='https://drive.google.com/file/d/1r99b9cr9Mba713oBLkwr_Wo1vpWbekzW/view?usp=sharing' target='_blank')
                        | EVO/™ECM-VCU S3 (Visual Control Unit) (Replaced by
                        | EVO/™ECM-VCU-PRO)
            p
                a(href='https://drive.google.com/file/d/1RiU7ob_hbXORijJbWk-gqdjL0xAS2CzJ/view?usp=sharing' target='_blank') EVO/™ECM-VCU (Replaced by EVO/™ECM-VCU-PRO)
    br
    br
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'datasheets.html' type='button')
            | Back to Top
