extends ../templates/mainLayout.pug

block head
    title Distributors — Evolution Controls Inc.

block content
    br
    br
    h1 Our Distributors
    br
    br
    .row
        .col-2
        .col-4.distrubutors
            img.mobile-distributors(src=baseUrl + 'src/photos/Gexpro_Color_Tag_r.png' alt='Gexpro Logo')
            h3 US DISTRIBUTOR:
            p.distributor-bio
                strong Gexpro
                |is our leading supplier of EC motors and
                |controls. For more information on EC Motors and off the shelf
                |controls contact a Gexpro representative.
            h3 Contacts:
            p
                strong Tim Berns
                br
                strong Phone:
                |  (513)326-2136
                br
                strong Gerry Engardio
                br
                strong Phone:
                |  (513) 326-2100
        .col-4.distrubutors
            img.bsr-logo.mobile-distributors(src=baseUrl + 'src/photos/Canadian+distr.jpg' alt='BSR Logo')
            h3.canadian-distributor CANADIAN DISTRIBUTOR:
            p.distributor-bio
                strong| BSR Distribution Inc. 
                br
                |425 Admiral Blvd, Unit 4
                br
                |Mississauga, Ontario L5T 2N1
                br
                |Canada
            ul
                li
                    strong Phone:
                    |  (905) 670-3229
                li
                    strong Fax:
                    |  (905) 670-8015
                li
                    strong Email:
                    |  sales@bsrinc.ca
                li
                    strong Website:
                    |  www.bsrinc.ca
