extends ../templates/mainLayout.pug

block content
	include photo-carousel.pug
	.bioBody
		img.logo(src=baseUrl + 'src/photos/EVOMark 512x512.png' alt='Evolution Controls Inc.')
		p.bio
			| 	Evolution Controls Inc. is the leader for over 25 years in providing
			| control solutions for the energy-efficient EC (Electronically
			| Commutated) Motors Market. These motors have proven energy savings
			| when used in Commercial and Residential applications. We carry an
			| innovative line of EC Motor controls giving you access to energy
			| savings like never before. Using our controls, a service technician
			| can field adjust the EC Motor's air volume setpoint. Our controls
			| also interface the EC Motor to automation systems and other types of
			| automatic controls.
		p.bio
			| 	Our PC software and mobile apps are for communicating with our
			| control products only. We do not collect any data from the users’
			| devices.
