extends ../templates/mainLayout.pug

block head
	title New Products — Evolution Controls Inc.

block content
	br
	br
	h1 New Products
	.bio-heading
		p
			| Evolution Controls Inc. is pleased to present our newest additions to
			| the expanding line of controllers for the energy-saving EC Motors.
	br
	br
	.row
		.col.product-image
			img.product-photos(src='../src/photos/products-photos/CTC Plate.png' alt='CTC Plate')
		.col.product-description
			h5 EVO/™ECM-CTC (Changeover Temperature Control)
			ul
				li Exhaust Fan Control
				li Whole house fan control
				li Outside Air Economizer
				li Discharge Air Temperature Control
				li Condenser Air Fan Control
			a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1V3_azrL5EK5nP_BsiEr2Kli0m15qty9-/view' target='_blank')
				| DATASHEET
			a.btn.btn-secondary.products(href=baseUrl + 'pro-series.html' type='button')
				| QUICK GUIDE
	br
	br
	.row
		.col.product-image
			img.product-photos(src='../src/photos/products-photos/intro-pro-series.png' alt='')
		.col.product-description
			ul
				li
					| Equipment manufacturer can download preconfigured custom
					| profile to PRO series controls
			a.btn.btn-secondary.products(href=baseUrl + 'pro-series.html' type='button')
				| LEARN MORE
	br
	br
	.row
		.col.product-image
			img.product-photos(src='../src/photos/products-photos/GCU wall plate.jpg' alt='GCU Wall Plate')
		.col.product-description
			h5 EVO/™ECM-GCU (Gradual Control Unit)
			ul
				li PWM or 0-10VDC universal output
				li
					| Allows accurate manual adjustment of EC motors and other HVAC
					| and industrial control applications
				li
					| Compatible with standard single gang box for wall mounting in
					| occupied space
			a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1jaDsBNPylzwNqo2kc7T9wIXBAw_zluiI/view?usp=sharing' target='_blank')
				| DATASHEET
	br
	br
	.row
		.col.product-image
			img.product-photos(src='../src/photos/products-photos/EVO_RSLW-S0.png' alt='RLSW Control Unit')
		.col.product-description
			h5 EVO/™RLSW (Relay Switch)
			ul
				li
					| Detects PWM or senses 0-10VDC signal thresholds to
					| automatically switch equipment on/off in HVAC applications
				li
					| Selectable switching voltage thresholds in 0-10V voltage
					| sensitive relay mode
				li Built-in hysteresis to avoid contact chatter
			a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1ydO92-_CkPxfNlO2GdedOhhOU0DLCq4A/view?usp=sharing' target='_blank')
				| DATASHEET
	br
	br
	.row
		.col.product-image
			iframe.product-photos(width='560' height='315' src='https://www.youtube.com/embed/x-FyK2bmAbw' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
		.col.product-description
			h5 EVO/™ECM-BCU (Bluetooth® Control Unit)
			ul
				li
					| Our new BCU provides all the advantages of wireless remote
					| control and more.
			a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1dwtl33HLcICDaVy_TlCdNfcvLX2TUwJs/view?usp=sharing' target='_blank')
				| DATASHEET
			a.btn.btn-secondary.products(href=baseUrl + 'wireless-series-subpage.html' type='button')
				| SEE MORE
		br
		br
		.row
			.col.product-image
				iframe.product-photos(width='560' height='315' src='https://www.youtube.com/embed/JjrRV628X9E' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
			.col.product-description
				h5 EVO/™ECM-VCU S3 (Visual Control Unit)
				ul
					li
						| The VCU S3 now has a new general 0-10VDC output option for
						| 0-10VDC controlled EC motors, damper actuators, valves,
						| etc.
				a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1FGUxFCGAXYT7iJqL3FAPhKXea-YeqhQ9/view?usp=sharing' target='_blank')
					| DATASHEET
		.row
			.col.product-image
				img.product-photos(src='../src/photos/products-photos/DPC Cover final.png' alt='DPC Cover Plate')
			.col.product-description
				h5 EVO/™ECM-DPC (Differential Air Pressure Control Unit)
				ul
					li
						| An easy to use, cost-effective, one-piece air pressure
						| controller. Control the air pressure in a space served by
						| an EC driven fan or 0-10VDC controlled actuator. Great
						| solution for variable volume building exhaust systems, room
						| pressurization, and duct/plenum pressurization.
				a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1V6BQqEr0SanGGUoLdIr1CrD-Evnk4pyH/view?usp=sharing' target='_blank')
					| DATASHEET
		br
		br
		.row
			.col.product-image
				img.product-photos(src='../src/photos/products-photos/SNV-S1 Front.jpg' alt='SNV Control Unit')
			.col.product-description
				h5 EVO/™ECM-SNV-S1 (Severe Environment Control Unit)
				ul
					li
						| If you need a simple, rugged 0-+10V to ECM motor interface,
						| the ECM-SNV Severe Environment control is the right choice.
						| Small and simple to mount. Simply connect ~24V power, an
						| input signal and two or three wires to the motor to start
						| using the control. Mount the SNV in warm moist climates, or
						| where cold weather taxes the life of other controls.
				a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1cWGhbnlKYs_Pub-nTQvWc9W-n7CsatC0/view?usp=sharing' target='_blank')
					| DATASHEET
		br
		br
		.row
			.col.product-image
				img.product-photos(src='../src/photos/products-photos/ECM Mspd2.png' alt='MSPD Control Unit')
			.col.product-description
				h5 EVO/™ECM-MSpd (Multi-Speed Controller)
				ul
					li Up to 4 Speed Calls over 2 wires
					li Isolated Switch Input Protection
					li PWM or 0-+10V Output
					li Gradual or Fast Speed Change
					li
						| Pilot Pulse (Autoswitch) provides a 49us pulse at a minimum
						| and maximum signal so the motor knows the EVO/ECM-MSpd is
						| connected.
				a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1vefyMKZoL9hs3iyCIwVtKiXX_hfBVs4k/view?usp=sharing' target='_blank')
					| DATASHEET
		br
		br
		.text-center
			a.btn.btn-secondary.back-to-top(href=baseUrl + 'new-products.html' type='button')
				| Back to Top
