block content
    .slideshow-container
        // Full-width images with number and caption text
        .mySlides.fade
            .numbertext 1 / 3
                .carousel-image
                    img(src=baseUrl + '../src/photos/carousel/Modbus BACnet Interface_Page_1.png' alt='photo 1')
        .mySlides.fade
            .numbertext 2 / 3
                .carousel-image
                    img(src=baseUrl + 'src/photos/web front page.png' alt='photo 2')
        .mySlides.fade
            .numbertext 3 / 3
                .carousel-image
                    img(src=baseUrl + 'src/photos/New+Logo.png' alt='photo 3')
        // Next and previous buttons
        a.prev(onclick='plusSlides(-1)') ❮
        a.next(onclick='plusSlides(1)') ❯
    br
    // The dots/circles
    div(style='text-align:center')
        span.dot(onclick='currentSlide(1)')
        span.dot(onclick='currentSlide(2)')
        span.dot(onclick='currentSlide(3)')

    script
        include ../src/photo-carousel.js

