extends ../templates/mainLayout.pug
    	script(href=baseUrl + 'src=/photo-carousel.js')

block content
    .slideshow-container
        // Full-width images with number and caption text
        .mySlides.fade
            .numbertext 1 / 3
            img(src='src/photos/Modbus BACnet Interface_Page_1.png' style='width:100%')
            .text Caption Text
        .mySlides.fade
            .numbertext 2 / 3
            img(src='src/photos/EVO Logo.jpg' style='width:100%')
            .text Caption Two
        .mySlides.fade
            .numbertext 3 / 3
            img(src='src/photos/EVO Logo.jpg' style='width:100%')
            .text Caption Three
        // Next and previous buttons
        a.prev(onclick='plusSlides(-1)') ❮
        a.next(onclick='plusSlides(1)') ❯
    br
    // The dots/circles
    div(style='text-align:center')
        span.dot(onclick='currentSlide(1)')
        span.dot(onclick='currentSlide(2)')
        span.dot(onclick='currentSlide(3)')

