extends ../templates/mainLayout.pug

block head
    title Tech Support — Evolution Controls Inc.

block content 
    br
    br
    h1 Tech Support
    br
    br
    .row
        .col
            img.product-photos(src='../src/photos/tech-support/ECM-VCU.JPG' alt='VCU Control')
        .col.product-description
            h5 EC MOTOR CONTROL TEST PROCEDURE
            h6 High Voltage Volt Test
            p
                | Perform this test in addition to all tests and practices
                | prescribed by the equipment manufacturer and your professional
                | training.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1RHpw4koym_uj-pLssRBPq-IQQ3MtiJFt/view?usp=sharing' target='_blank')
                | READ EC MOTOR CONTROL TEST PROCEDURE
    br
    .row
        .col
            img.product-photos(src='../src/photos/tech-support/EF.png' alt='Schematics')
        .col.product-description
            h5 ELECTRICAL INTERFERENCE FROM HVAC RELAYS
            p
                | Most relays used in HVAC machines allow low voltage 24Vac
                | circuits to control high voltage, high current devices like
                | motors and electric heating elements. These relays need
                | special attention so they do not interfere with electronic
                | devices inside or near the HVAC machine.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1WwbPhbSdp4Pt-QLveJcHRoVn4oDAmD5d/view' target='_blank')
                | MORE ABOUT ELECTRICAL INTERFERENCE PREVENTION
    br
    .row
        .col
            img.product-photos(src='../src/photos/products-photos/EVO_Pigtails.jpg' alt='pig tail cable')
        .col.product-description
            h5 MOTOR CONTROL CABLE ASSEMBLY
            p
                | This drawing shows the components and tools for fabricating 
                |a control cable compatible with the TE Connectivity/AMP 640456-4 
                |4-Pin motor control header on most of our EC Motor controls.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1WwbPhbSdp4Pt-QLveJcHRoVn4oDAmD5d/view' target='_blank')
                | VIEW DRAWING
    br
    .row
        .col
            img.product-photos(src='../src/photos/tech-support/PWM.JPG' alt='PWM Protocol Schematics')
        .col.product-description
            h5 EVO™/PWM-PROTOCOL SCHEMATIC
            p
                | Standard For Electrically Isolated Control of Motors, Drives,
                | Heaters and other High Voltage Equipment.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1tLoF-i_J4fvMRKcCAAcWtX0lvSIABVgF/view' target='_blank')
                | VIEW SCHEMATIC
    br
    .row
        .col
            img.product-photos(src='../src/photos/tech-support/EVO_Motor_Box.jpg' alt='')
        .col.product-description
            h5 GENTEQ® 142R WIRING
            p
                | This article covers the wiring between the EVO/ TM EC motor
                | controllers and the Genteq® 142R motor for modulating motor
                | speed control.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1TItk5nj0tw4JMJqtdhmvwin22S4XfXcE/view?usp=sharing' target='_blank')
                | READ MORE
    h2 FAQs
    .row
        .col.faq
            p
                strong Q.
                |Does Evolution Controls sell Motors?
                br
                br
                strong A.
                |No. OEM’s (Original Equipment Mfgs.) please contact Regal Beloit (https:/www.regalbeloit.com/). 
                |Replacement motors and/or Upgrade Energy-Saving Retrofit Kits are available through 
                |Gexpro at 
                br
                |+1 (513) 326-2134 in the US or BSR at +1(905) 670-3229 in Canada.
                hr
            p
                strong Q.
                |What is the ECM-BCU, Bluetooth® control,
                |pairing passkey for EVO Devices mobile app?
                br
                br
                strong A. 529413
                hr
            p
                strong Q.
                |What is the ECM-BCU, Bluetooth® control,
                |pairing passkey for EVO Devices mobile app?
                br
                br
                strong A. 529413
                hr
            p
                strong Q.
                |Can I buy controls from Evolution Controls?
                br
                br
                strong A.
                |Yes, if you are a bona fide equipment
                |manufacturer. Contractors, end users and others needing
                |Evolution Controls’ Products should contact Gexpro at +1 (513)
                |326-2134 in the US or BSR at +1(905) 670-3229 in Canada.
                hr
            p
                strong Q.
                |Can I use Evolution’s EC Motor controls on any EC Motor?
                br
                br
                strong A.
                |No, the motor has to be programmed for
                |Vspd mode. Most EC Motors are custom programmed by the
                |equipment manufacturer. Many, especially in residential
                |applications are not programmed for Vspd mode. Please contact
                |Evolution Controls Inc. at (858) 748-7359 to find out if the
                |motor you are interested in will work with our controls.
                hr
            p
                strong Q.
                |Can I Vspd control an RB X13 motor?
                br
                br
                strong A.
                |Maybe. These motors are Vspd enabled for
                |in-house testing by equipment manufacturers, and for a very
                |few commercial applications. Most X13s in production equipment
                |will not be Vspd enabled. Be careful not to develop a Vspd
                |application for an X13, just to find out you will not be
                |allowed to use it in production!
                br
                br
                |Our EVO™/ECM-X13 controller allows a 0- +10V signal to step
                |control a Regal Beloit X13 or Endura Pro ECM motor.
                hr
            p
                strong Q.
                |What are the Evolution Controls standard control cable pinouts?
                br
                br
                strong A.
                |The standard pinout is 4 pins on an Amp
                |MTA 100 header. Notice the solder pad (back of PC board) for
                |the pins have three round pads and one square pad. The square
                |pad is pin 1.
                br
                br
                | Go = Pin 1, Status = Pin 2, Common = Pin 3, and Vspd = Pin4. 
                br
                | Go = White, Status = Black, Common = Green, and Vspd = Red. 
                br
                | Go isused by some motors to signal the motor to run.
                br
                br
                | Status is an output from the motor that lights the red
                |lamp on the EVO control and provides tachometer pulses to
                |those EVO products having RPM feedback. Make sure the status
                |output is programmed RPM only for EVO products having RPM
                |feedback. Common is the common for the other three pins. Vspd
                |is a PWM signal with 12.5ms duration and 22Vdc peak voltage
                |for most EVO/ECM controls. Some special variations exist.
                hr
            p
                strong Q.
                | Why does my EVO/ECM-VCU display have
                | strange numbers where there should be an RPM reading?
                br
                br
                strong A.
                |This problem is most often because the
                |status output (Flag 7 for RB’s ECM 2.3 motor) is not
                |programmed to RPM only. However, if your VCU reads 8888, this
                |will occur the first three times the control is powered up as
                |a factory test for the LED's and will disappear after a few
                |seconds. After the third power-up, this will not occur again.
                hr
    .row.contact
        .col.contact-image
            img(src='' alt='')
        .col.contact-info
            h3 We Would Be Happy to Help You as Needed
            h5 Please send the following:
            ul
                li Your Name
                li Company Info
                li Telephone Number
                li
                    strong
                        | ALSO INCLUDE YOUR QUESTIONS OR REMARKS TO:
                        | SALES@GOTOEVO.COM
        .col
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'tech-support.html' type='button')
            | Back to Top
