extends ../templates/mainLayout.pug

block head
    title Tech Support — Evolution Controls Inc.

block content 
    br
    br
    h1 Tech Support
    br
    br
    h2 FAQs
    .row
        .col.faq
            button.collapsible(type='button') Q: Does Evolution Controls sell Motors?
            .content
                p A: No. OEM’s (Original Equipment Mfgs.) please contact Regal Beloit (https:/www.regalbeloit.com/). Replacement motors and/or Upgrade Energy-Saving Retrofit Kits are available through Gexpro at +1 (513) 326-2134 in the US or BSR at +1(905) 670-3229 in Canada.
            hr
            button.collapsible(type='button') Q: What is the ECM-BCU, Bluetooth® control, pairing passkey for EVO Devices mobile app?
            .content
                p A: 529413
            hr
            button.collapsible(type='button') Q: Can I buy controls from Evolution Controls?
            .content
                p A: Yes, if you are a bona fide equipment manufacturer and contractors, call us at +1(858)748-7359. For end users, and others needing Evolution Controls’ Products should contact Gexpro at +1 (513) 326-2100 in the US or BSR at +1(905) 670-3229 in Canada.
            hr
            button.collapsible(type='button') Q: Can I use Evolution’s EC Motor controls on any EC Motor?
            .content
                p A: No, the motor has to be programmed for Vspd mode. Most EC Motors are custom programmed by the equipment manufacturer. Many, especially in residential applications are not programmed for Vspd mode. Please contact Evolution Controls Inc. at (858) 748-7359 to find out if the motor you are interested in will work with our controls.
            hr
            button.collapsible(type='button') Q: Can I Vspd control an RB X13 motor?
            .content
                p A: Maybe. These motors are Vspd enabled for in-house testing by equipment manufacturers, and for a very few commercial applications. Most X13s in production equipment will not be Vspd enabled. Be careful not to develop a Vspd application for an X13, just to find out you will not be allowed to use it in production!
                |Our EVO™/ECM-X13 controller allows a 0- +10V signal to step control a Regal Beloit X13 or Endura Pro ECM motor.
            hr
            button.collapsible(type='button') Q: What are the Evolution Controls standard control cable pinouts?
            .content
                p A: The standard pinout is 4 pins on an Amp MTA 100 header. Notice the solder pad (back of PC board) for the pins have three round pads and one square pad. The square pad is pin 1.
                br
                |Go = Pin 1, Status = Pin 2, Common = Pin 3, and Vspd = Pin4.
                br
                br
                |Go = White, Status = Black, Common = Green, and Vspd = Red.
                br
                br
                |Go isused by some motors to signal the motor to run.
                br
                br
                |Status is an output from the motor that lights the red
                |lamp on the EVO control and provides tachometer pulses to
                |those EVO products having RPM feedback. Make sure the status
                |output is programmed RPM only for EVO products having RPM
                |feedback. Common is the common for the other three pins. Vspd
                |is a PWM signal with 12.5ms duration and 22Vdc peak voltage
                |for most EVO/ECM controls. Some special variations exist.
            hr
            button.collapsible(type='button') Q: Why does my EVO/ECM-VCU display have strange numbers where there should be an RPM reading?
            .content
                p A: This problem is most often because the status output (Flag 7 for RB’s ECM 2.3 motor) is not programmed to RPM only. However, if your VCU reads 8888, this will occur the first three times the control is powered up as a factory test for the LED's and will disappear after a few seconds. After the third power-up, this will not occur again.
            br
            br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/tech-support/EF.png' alt='Schematics')
        .col.product-description
            h5 ELECTRICAL INTERFERENCE FROM HVAC RELAYS
            p
                | Most relays used in HVAC machines allow low voltage 24Vac
                | circuits to control high voltage, high current devices like
                | motors and electric heating elements. These relays need
                | special attention so they do not interfere with electronic
                | devices inside or near the HVAC machine.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1WwbPhbSdp4Pt-QLveJcHRoVn4oDAmD5d/view' target='_blank')
                | MORE ABOUT ELECTRICAL INTERFERENCE PREVENTION
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_Pigtails.jpg' alt='pig tail cable')
        .col.product-description
            h5 MOTOR CONTROL CABLE ASSEMBLY
            p
                |This drawing shows the components and tools for fabricating 
                |a control cable compatible with the TE Connectivity/AMP 640456-4 
                |4-Pin motor control header on most of our EC Motor controls.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1WwbPhbSdp4Pt-QLveJcHRoVn4oDAmD5d/view' target='_blank')
                | VIEW DRAWING
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/tech-support/PWM.JPG' alt='PWM Protocol Schematics')
        .col.product-description
            h5 EVO™/PWM-PROTOCOL SCHEMATIC
            p
                | Standard For Electrically Isolated Control of Motors, Drives,
                | Heaters and other High Voltage Equipment.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1tLoF-i_J4fvMRKcCAAcWtX0lvSIABVgF/view' target='_blank')
                | VIEW SCHEMATIC
    br

    .row.contact
        .col
            img.contact-image(src='src/photos/tech-support/Tech-suport.jpg' alt='tech support')
        .col.contact-info
            h3 We Would Be Happy to Help You as Needed
            h5 Please send the following:
            ul
                li Your Name
                li Company Info
                li Telephone Number
                li
                    strong
                        | ALSO INCLUDE YOUR QUESTIONS OR REMARKS TO:
                        | SALES@GOTOEVO.COM
        .col
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'tech-support.html' type='button')
            | back to top

    script
        include ../src/collapsible-qa.js