extends ../../templates/mainLayout.pug

block head
    title Accessories, Sensors, and Cables — Evolution Controls Inc.

block content 
    br
    br
    h1 Accessories, Sensors, and Cables
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM 3PT.gif' alt='10Y-3PT Control Unit')
        .col.product-description
            h5 EVO/™10Y-3PT (3 Point Floating Control Unit)
            ul.product-subheading
                li
                    |Increase/decrease control for 0-10Vdc devices
                li
                    |Digital Accuracy
                li
                    |Adjustable Rate
                li
                    |Output Signal Lamp
                li
                    |OEM and Contractor Versions
                li
                    |Allows VAV controls to control 0-10V device instead of damper
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1dpGEvl24ZKqtaNVsoMtEVvvRLkV2S8Nd/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/10Y-PWMa Datasheet.bmp' alt='10Y-PWMa Control Unit')
        .col.product-description
            h5 EVO/™10Y-PWMa (Pulse Width Modulation Control Unit)
            ul.product-subheading
                li
                    |Converts DC PWM signals to a standard 0V to +10V automation signal.
                li
                    |The PWM input is optically isolated from the 0V to +10V signal circuit and power to prevent ground loops and allow multiple devices located over a distance to be driven by the same PWM signal.
                li
                    |The PWM signal connections are not polarity sensitive and may operate over a peak voltage range from +5V to +24V.
                li
                    |Acceptable PWM rate is from 10 pulses per second to 200 pulses per second.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1XWxmSGQ-d943aKfvATYHEByTEo1Xp3vJ/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/IRC 10Y.JPG' alt='IRC Control Unit')
        .col.product-description
            h5 EVO/™IRC-10Y Interface (0-10V Infrared Remote Control System)  
            ul.product-subheading
                li
                    |Adjusts a 0-10V control signal using the handheld remote shown in the IRC System on the EC Motor Controls page.
                li
                    |A control interface mounts near the terminal unit controller, AHU Controller, programmable logic controller or other control equipment that accepts the 0-10Vdc signal.
                li
                    |The infrared sensor and feedback lamp can be mounted on the control interface or to the end of a remote sensor cable assembly.
                li
                    |The handheld remote allows entry of any whole number between 0 and 100.
                li
                    |The signal at the control interface responds with an output in 0.1V increments.
            p Common applications include adjustment of:
            ul.product-subheading
                li
                    |Temperature
                li
                    |Position
                li
                    |Humidity
                li
                    |Ventilation
                li
                    |Lighting Level
                li
                    |Audio Level
                li
                    |RPM
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/12xKa7Xz0NxCwMuKsDTD-OLO7oOWixvUL/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/MXC2-S0.jpg' alt='Motor Control Connector')
        .col.product-description
            h5 EVO/™ECM-MXC2(2 Motor Control Connector)
            p.product-subheading
                |The EVO/ECM-MXC2 connects one EVO/ECM-Control to 2 motors. The master control sets the speed of both motors. A second control may be connected to monitor the 2nd motor RPM.
            p.product-subheading
                |The 2 motor connect is compatible with the following EVO/ECM-Controls:
            ul.product-subheading
                li
                    |EVO/ECM-ACU PRO
                li
                    |EVO/ECM-4SPD PRO
                li
                    |EVO/ECM-VCU PRO
                li
                    |EVO/ECM-EHC
                li
                    |EVO/ECM-IRC
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1kvoAwhRqu-d7kvYWWe3uplzPY8-LIESd/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/taps.jpg' alt='Speed Selector Panel')
        .col.product-description
            h5 EVO/™ECM-TAPS (Speed Selector Panel)
            ul.product-subheading
                li
                    |Allows a service technician to field select the output of EC Motors.
                li
                    |Allows simple and economical selection of one of four pre-programmed flows.
                li
                    |The motor is programmed by the equipment manufacturer to provide the
                    | desired flow for each tap. The output is simply selected by moving the selector wire from one tap to another.
                li
                    |Boards may be ganged for more selections.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1KuFG-s4MW52t6LEnTnhU2rCpcdMQAs8g/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM-TAPx4-S0.JPG' alt='Four-Function Select Control Unit')
        .col.product-description
            h5 EVO™/ECM-TAPx4 (Four-Line, Four-Function Select Control Unit)
            p.product-subheading
                |The EVO/ECM-TAPx4 is a 4-line, diode multiplexed function select board that may be used 
                |to allow field selection of motor speed for up to four thermostat or automation controls lines.
            ul.product-subheading
                li
                    |Compatible with Regal Beloit's Genteq™ 2.3 and Eon™ motors.
                li
                    |Compatible with other devices that use diode multiplexing to select speed taps.
                li
                    |Features 4 tap lines selected by a thermostat or other 24Vac signal source.
                li
                    |For residential and commercial applications requiring field selection of motor output.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1L0ONULZ5_ycv5RcWe_m0mbajXPd1mCoA/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_RSLW-S0.png' alt='Relay Switch')
        .col.product-description
            h5 EVO/™RLSW (Relay Switch)
            ul.product-subheading
                li
                    |Detects PWM or senses 0-10VDC signal thresholds to automatically switch equipment on/off in HVAC applications
                li
                    |Selectable switching voltage thresholds in 0-10V voltage sensitive relay mode
                li
                    |Built-in hysteresis to avoid contact chatter
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1ydO92-_CkPxfNlO2GdedOhhOU0DLCq4A/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/rly 4or.JPG' alt='4-Input OR Relay Control Unit')
        .col.product-description
            h5 EVO/™RLY-4OR (4-Input OR Relay Control Unit)
            ul.product-subheading
                li
                    |The EVO/RLY-4OR is a relay that is energized by applying 24Vac on any of four inputs.
                li
                    |The device is designed to allow thermostats and other 24Vac devices to energize an outside 
                    |air damper, valve, air cleaner, exhaust fan, ventilator, dehumidifier or other equipment 
                    |whenever the thermostat calls for any function.
                li
                    |With this device, energized inputs do not feed back into the de-energized circuits.
                li
                    |The EVO/RLY-4OR may also be used with automation controller outputs to provide a logic function or save automation outputs.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1sINTgxOEnARD6s5QPchOqvb_gDRHx5BH/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/rnet.gif' alt='RNET Control Unit')
        .col.product-description
            h5 EVO/™RNet Control Unit
            p.product-subheading Allows a programmable HVAC or other PLC to monitor three contacts using a single analog input.
            ul.product-subheading
                li
                    |External or On-board Pull-up.
                li
                    |Small Footprint.
                li
                    |Header & Plug type Connectors.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1wVUN-lrqnpQkdYuOq1IpyYcjOjFuNbeI/view' target='_blank' type='button')
                |DATASHEET
    br
    br
    h2 Sensors
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/DTC Sensor 006.jpg' alt='SNS-AA Thermistor Sensor')
        .col.product-description
            h5 EVO/™SNS-AA Thermistor Sensor
            ul.product-subheading
                li
                    |1kΩ NTC thermistor probe for dry and wet pipe applications.
                li
                    |Pair with EVO/™ECM-DTC16, Differential Temperature Control, in evaporator fan switch application.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1612UZzE1_U68OkZEhwuX1ilHtegmAis5/view' target='_blank' type='button')
                |DATASHEET
    br
    br
    h2 Cables
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM-CBL.jpg' alt='CBL')
        .col.product-description
            h5 ECM-CBL-?? Cable Assembly  
            p.product-subheading
                |Cables are ordered by length (e.g. ECM-CBL-08 = Eight Foot Cable)
            ul.product-subheading
                li
                    |Available for use with EC Control Units.
                li
                    |Each cable comes with plenum rated cable material in custom lengths 
                    |to fit your needs, a connector on one end that hooks directly into the EC Motor, 
                    |and a connector on the other end that hooks to the EC Control Unit.
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/USM-CBL.jpg' alt='USM')
        .col.product-description
            h5 USM-CBL-?? Cable Assembly  
            p.product-subheading
                |Cables are ordered by length (e.g. USM-CBL-08 = Eight Foot Cable)
            ul.product-subheading
                li
                    |Available for use with EC Control Units.
                li
                    |Each cable comes with plenum rated cable material in custom lengths 
                    |to fit your needs, a connector on one end that hooks directly into 
                    |the EC Motor, and a connector on the other end that hooks to the EC Control Unit.
                li
                    |The motor connector is specifically for the NIDEC U.S. Motors brand.
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_Pigtails.jpg' alt='PIG Cable')
        .col.product-description
            h5 ECM-PIG-?? Cable Assembly 
            p.product-subheading
                |Cables are ordered by length (e.g. ECM-PIG-08 = Eight Foot Cable) 
            ul.product-subheading
                li
                    |Available to use with EC Control Units
                li
                    |Each cable comes with plenum rated cable material in 
                    |custom length to fit your needs, a connector on one 
                    |end that hooks to EC Control Unit and the other end is 
                    |for making pigtail connection, for example, with wires from 
                    |a Genteq 142R EC motor, see the wiring instruction in the TECH SUPPORT page.
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM-PBL.jpg' alt='PBL Cable')
        .col.product-description
            h5 ECM-PBL-?? Power Cable Assembly
            p.product-subheading
                |Cables are ordered by length (e.g ECM-PBL-08 = Eight Foot Power Cable)
            ul.product-subheading
                li
                    |Each cable comes in lengths to fit your needs, a connector on one 
                    |end that hooks directly into the ECM Motor (red jumper wire may be 
                    |clipped out for 220V operation), and bare stripped wires on the other 
                    |end to be hooked into power.
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'products-sub-pages/accessories-cables.html' type='button')
            |back to top