extends ../../templates/mainLayout.pug

block head
    title DTC 16 Details — Evolution Controls Inc.

block content
    br
    br
    h1 DTC16
    br
    br
    .row
        .col
        .col.sub-product-photos
            img.product-photos(src='../src/photos/products-photos/DTC16.jpg' alt='DTC16 Plate')
        .col.sub-product-photos
            img.product-photos(src='../src/photos/products-photos/DTC Sensor 006.jpg' alt='DTC16 Sensor')
        .col
    .row
        .col
        .col.product-description
            h5 EVO™/ECM-DTC16 (DIFFERENTIAL TEMPERATURE CONTROL UNIT)
            p 
                |The EVO/ECM-DTC16 sets the EC Motor speed depending on 
                |the temperature difference measured by two temperature sensors. 
                |The DTC16 controls up to 16 EC Motors in unison.
            ul
                li Equipment manufacturer can download preconfigured custom profile to PRO series controls
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1PSM5PBIhO66xTDv0hY78sD_LberLN2YV/view' target='_blank')
                | DATASHEET
        .col.product-description
            h5 EVO™/SNS-AA (USED IN CONJUNCTION WITH THE EVO/ECM-DTC16)
            p Thermistor Sensor/Refrigeration Pipe Sensor
            ul
                li 1K NTC thermistor probe suitable for room temperature and cold locations with condensation.
                li 6' low smoke zero haolgen jacketed sensor cable
                li Suitable for industrial, commercial, transportation
                li Suitable for confined-space applications requiring flame retardant low-smoke cables.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1612UZzE1_U68OkZEhwuX1ilHtegmAis5/view' target='_blank')
                | DATASHEET
        .col