extends ../../templates/mainLayout.pug

block head
    title DTC 16 Details — Evolution Controls Inc.

block content
    br
    br
    h1 DTC16
    br
    br
    .row
        .col.sub-product-photos
            img.product-photos(src='../src/photos/products-photos/DTC16.jpg' alt='DTC16 Plate')
        .col.sub-product-photos
            img.product-photos(src='../src/photos/products-photos/DTC Sensor 006.jpg' alt='DTC16 Sensor')
    .row
        .col
            ul
                li Equipment manufacturer can download preconfigured custom profile to PRO series controls
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1qwgVIiNGtA-1mh_JcfyXIo9vqVluAbwR/view' target='_blank')
                | learn more
