extends ../../templates/mainLayout.pug

block head
    title HVAC Automation — Evolution Controls Inc.
block content
    br
    br
    h1 HVAC Automation
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |&nbsp 4
    br