extends ../../templates/mainLayout.pug

block head
    title HVAC Automation — EVOlECMon Controls Inc.

block content
    br
    br
    h1 HVAC Automation
    br
    h5.bio-heading
        |CONTROLS AND ACCESSORIES FOR HVAC, BUILDING AUTOMATION, 
        |FACTORY AUTOMATION & SCADA SYSTEMS
    br
    p.bio-heading
        |While our controls are marketed for EC Motor applications, many can be
        |used in other control applications.
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EHM.png' alt='EHM Control Unit')
        .col.product-description
            h5 SSR  Electric Heater Module
            p.product-subheading
                |Allow a wide variety of temperature control signal to control a Solid State Relay (SSR) switched electric heater assembly in Capacity Limit or Discharge Air Temperature control mode.
            p.product-subheading
                |Optionally, it can be configured to provide SSR overheat protection and insufficient air flow overheat protection
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1k--w5Dpe0LZ0Obnhydu8z-MwCRowjiad/view' target='_blank' type='button')
                | EVO/ECM DATASHEET
            a.btn.btn-secondary.products(href=baseUrl + 'products-sub-pages/pro-series.html' type='button')
                | MORE ON PRO FEATURES
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM 3PT.gif' alt='3PT Control Unit')
        .col.product-description
            h5 Increase/Decrease to 0-10V 
            p.product-subheading
                |Use push buttons or Digital Output from a PLC to increase or decrease the 0-10V output signal.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1dpGEvl24ZKqtaNVsoMtEVvvRLkV2S8Nd/view' target='_blank' type='button')
                | EVO/ECM-3PT DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/10Y-PWMa Datasheet.bmp' alt='10Y-PWMa Control Unit')
        .col.product-description
            h5 PWM to 0-10V Converter
            p.product-subheading
                |Converts motor & VFD control signals to 0-10V.  Use it to monitor a PWM controlled motor signal. Or use with our PWM controls to distribute a signal to points throughout a building, through noisy environments, or over a long distance. 
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1XWxmSGQ-d943aKfvATYHEByTEo1Xp3vJ/view' target='_blank' type='button')
                | 10Y/PWMA DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/IRC 10Y.JPG' alt='IRC Control Unit')
        .col.product-description
            h5 IR Remote Control to 0-10V 
            p.product-subheading
                |Use a handheld IR control to remotely adjust a 0-10V signal. 
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1b4ODyKoh2mJE-LKP8bmkGHDx1oUAjVBa/view' target='_blank' type='button')
                | INFRA-RED REMOTE CONTROL
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/4spd_pro.png' alt='4SPD Control Unit')
        .col.product-description
            h5 Four ~24V inputs to 0-10V Switch
            p.product-subheading
                |Up to 4 ~24V calls output 0-10V.  Each call has an adjustable output.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1ahBTga9kY5Iwll0cx9A-ZH8_R63EL64i/view' target='_blank' type='button')
                | EVO/ECM-4SPD-PRO DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/Bluetooth_Control-unit.JPG' alt='BCU Control Unit')
        .col.product-description
            h5 Bluetooth to 0-10V
            p.product-subheading
                |Use Android or iOS phone or tablet to adjust the 0-10V output.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1dwtl33HLcICDaVy_TlCdNfcvLX2TUwJs/view' target='_blank' type='button')
                | EVO/ECM-BCU DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/DPC Cover final.png' alt='DPC Unit Cover')
        .col.product-description
            h5 Differential Air Pressure Controller to 0-10V
            p.product-subheading
                |Measures ∆ air pressure and outputs a proportional/integral 0-10V control loop output signal.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1V6BQqEr0SanGGUoLdIr1CrD-Evnk4pyH/view' target='_blank' type='button')
                | EVO/ECM-DPC DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/GCU wall plate.jpg' alt='GCU Wall Unit')
        .col.product-description
            h5 Knob-adjust to 0-10V Gradual Switch
            p.product-subheading
                |Simple 0-10V output gradual switch that mounts in a single gang electrical cover or box.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1jaDsBNPylzwNqo2kc7T9wIXBAw_zluiI/view' target='_blank' type='button')
                | EVO/ECM-GCU DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_ModBus_pt1.jpg' alt='Modbus Control Unit')
        .col.product-description
            h5 Modbus Protocol I/O
            p.product-subheading
                |Control up to four 0-10V outputs and monitor up to four discrete inputs.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1bdKZRCLZLl4rLq7NFQESQgsVO0rU4OS4/view' target='_blank' type='button')
                | EVO/ECM-MODBUS DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM Mspd2.png' alt='MSPD Control Unit')
        .col.product-description
            h5 Single ~24V input to 0-10V Switch
            p.product-subheading
                |Outputs an adjustable 0-10V signal when ~24V is off, and another when the ~24V signal is on.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1vefyMKZoL9hs3iyCIwVtKiXX_hfBVs4k/view' target='_blank' type='button')
                | EVO/ECM-MSPD DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/rly 4or.JPG' alt='RLY 4OR Control Unit')
        .col.product-description
            h5 Four Input ~24V OR Relay
            p.product-subheading
                |Energized relay if any or all the four ~24V inputs are energized. ~24V inputs do not feed back to the de-energized inputs.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1sINTgxOEnARD6s5QPchOqvb_gDRHx5BH/view' target='_blank' type='button')
                | EVO/RLY-4OR DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_RSLW-S0.png' alt='Relay Switch')
        .col.product-description
            h5 Voltage Sensitive Relay
            p.product-subheading
                |On board relay closes at selected Voltage.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1ydO92-_CkPxfNlO2GdedOhhOU0DLCq4A/view' target='_blank' type='button')
                | EVO/RLSW DATASHEET
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/rnet.gif' alt='RNET Control Unit')
        .col.product-description
            h5 Three Contact Input to 0-10V Interface
            p.product-subheading
                |Monitor three dry contacts using one 0-10V PLC input.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1wVUN-lrqnpQkdYuOq1IpyYcjOjFuNbeI/view' target='_blank' type='button')
                | EVO/ECM-RNET datasheet
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO-ECM-VCU-MP.png' alt='VCU Control Unit')
        .col.product-description
            h5 Indicating 0-10V Grad Switch
            p.product-subheading
                |Adjustable indication range and offset.  Use to display Volts, temperature, pressure, rotation, flow, position, etc.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1FGUxFCGAXYT7iJqL3FAPhKXea-YeqhQ9/view' target='_blank' type='button')
                | EVO/ECM-VCU datasheet
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/X13_No_Wires.png' alt='X13 Control Unit')
        .col.product-description
            h5 Stager 0-10V
            p.product-subheading
                |0-10V stages five ~24V outputs in equal steps.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1_edPcC7Wrx_4JEs36Ay2-kksXQ_tHeBQ/view' target='_blank' type='button')
                |ECM/X13 datasheet
    br
    br
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |back to top
