extends ../../templates/mainLayout.pug 

block content
    br
    br
    h1 HVAC Automation
    h5.bio-heading
        |CONTROLS AND ACCESSORIES FOR HVAC, BUILDING AUTOMATION, 
        |FACTORY AUTOMATION & SCADA SYSTEMS
    p.bio-heading
        |While our controls are marketed for EC Motor applications, many can be
        |used in other control applications.


