extends ../../templates/mainLayout.pug

block head
    title Modbus — Evolution Controls Inc.

block content 
    br
    br
    h1 Modbus
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_ModBus_pt_2.jpg' alt='Modbus Controller')
        .col.product-description
            h5 EVO/™ECM-MODBUS (APPLICATION-SPECIFIC MODBUS RTU)
            p Allows an industrial or building automation system to monitor and control four EC motors over an industry-standard Modbus RTU serial data link.
            p Each EVO/ECM-MODBUS has four PWM or 0-10VDC control signals to control up to four EC motors.
            p Monitors RPM
            p Provides on/off control
            p Processes high and low RPM or contact alarms
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1bdKZRCLZLl4rLq7NFQESQgsVO0rU4OS4/view' target='_blank')
                | DATASHEET
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_ModBus_pt_2.jpg' alt='Modbus Controller')
        .col.product-description
            h5 EVO/™MODBUS CONFIGURATOR
            p Provides a quick way to configure a ECM-MODBUS control to join a MODBUS network.
            p Archives master configuration
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1_NJMp6yte_0ezb7c-0UD3OWs2JMNsUhc/view' target='_blank')
                | DOWNLOAD CONFIGURATION AND USER GUIDE
    br
    br