extends ../../templates/mainLayout.pug

block head
    title PRO Series — Evolution Controls Inc.

block content
    br
    br
    h1 PRO Series
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/intro-pro-series.png' alt='Intro to Pro Series')
        .col.product-description
            ul
                li Equipment manufacturer can download preconfigured custom profile to PRO series controls
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1qwgVIiNGtA-1mh_JcfyXIo9vqVluAbwR/view' target='_blank')
                | LEARN MORE
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/IF-Tool.png' alt='Interface Tool')
        .col.product-description
            h5 EVO/™IF-TOOL (Interface Tool)
            ul
                li USB connection to PC
                li Serial Connection to PRO series controls
                li Automatically provides power when the connected PRO series control is not powered.
                li Version is 4.1.420
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1vqomdnrbl58UkPZ7RMfNWjltuX2KdRR2/view' target='_blank')
                | DOWNLOAD SOFTWARE
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EHM.png' alt='EHM Pro')
        .col.product-description
            h5 EVO/™EHM-PRO (Electric Heat Modulator)
            p Profile Settings
            ul
                li PI control loop settings for SSR overheat protection
                li PI control loop settings for insufficient air flow overheat protection
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1csh2gjV-yT2L2eXduN8n7YYgdwd4hEJ1/view' target='_blank')
                | USER GUIDE
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/4spd_pro.png' alt='EVO 4SPD Pro')
        .col.product-description
            h5 EVO/™ECM-4SPD-PRO (4 Speed Interface Unit)
            p Profile Settings
            ul
                li Flow indexes
                li Control settings
                li Low and High limit settings
                li Pilot Pulse Control
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1V9NkVNZwJ5qP4bgVVXQZDIfKEkhsQJ8R/view' target='_blank')
                | USER GUIDE
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ACU_PRO.png' alt='EVO ACU-Pro')
        .col.product-description
            h5 EVO/™ECM-ACU-PRO (Automation Control Unit)
            p Profile Settings
            ul
                li Low and High Output Limits
                li Adjustable Off Delay Timer
                li Compatible with 1, 18. or 36 pulse per turn EC motor rpm feedback
                li The 0-10V output RPM Line can be configured to return the ECM-ACU local adjust setting
                li Fast and gradual speed change
                li Option to enable/disable Pilot Pulse
                li Adjustable Startup counts
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1e0iopPYQQnTEwzNdOg9QxcVIKQ4F5mxO/view' target='_blank')
                | USER GUIDE
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO-ECM-VCU-MP.png' alt='VCU_Pro')
        .col.product-description
            h5 EVO/™ECM-VCU-PRO (Visual Unit)
            p Profile Settings
            ul
                li Adjustment in engineering unit (CFM, GPM, etc.) for the application.
                li Adjustable Off Delay Timer
                li Compatible with 1, 18. or 36 pulse per turn EC motor rpm feedback
                li The 0-10V output RPM Line can be configured to return the ECM-ACU local adjust setting
                li Fast and gradual speed change
                li Option to enable/disable Pilot Pulse
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1hoW8nfJboAupmKEwaRoGtDzLBBGHumx8/view' target='_blank')
                | USER GUIDE
    br
    br
    .text-center
        a.btn.back-top.back-to-top(href=baseUrl + 'products-sub-pages/pro-series.html' type='button')
            | back to top