extends ../../templates/mainLayout.pug

block head
    title Sales Support — Evolution Controls Inc.

block content 
    br
    br
    h1 Sales Support
    br
    br
    img.gif(src="../src/photos/products-photos/Case_Lights.gif", alt="BCU Case gif")
    h4.gif BCU Demo Case
    h5.gif
        |(Bluetooth® Control Unit)
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/Closed_Case.jpg' alt='BCU Case')
        .col.product-description
            h5 EVO/™ECM-BCU (Bluetooth® Control Unit) Demo Case
            ul
                li
                    | Four ECM-BCU controls
                li
                    |Four variable speed fans with RPM feedback
                li
                    |Android tablet with EVO Devices app
                li
                    |Compact carrying case
            br
            p Contact Evolution Controls for details to reserve for evaluation and for sales demo.