extends ../../templates/mainLayout.pug

block head
    title IRC — Evolution Controls Inc.

block content
    br
    br
    br
    .row
        .col-2
        .col-3
            img.irc-image(src='../src/photos/wireless-subpage/Handheld.jpg' alt='IRC Remote')
            br
            h5.irc-title EVO/™IRC-REMOTE
            br
            a.btn.btn-secondary.products.irc-title(href=baseUrl + 'new-products.html' type='button')
                | DATASHEET
        .col-3
            img.irc-image(src='../src/photos/wireless-subpage/remotesensor.gif' alt='IRC Remote')
            br
            h5.irc-title EVO/™IRC-REMOTE SENSOR
            br
            a.btn.btn-secondary.products.irc-title(href=baseUrl + 'new-products.html' type='button')
                |DATASHEET
        .col-3
            img.irc-image(src='../src/photos/wireless-subpage/irc.gif' alt='IRC Remote')
            br
            h5.irc-title EVO/™ECM-IRC CONTROLLER
            br
            a.btn.btn-secondary.products.irc-title(href=baseUrl + 'new-products.html' type='button')
                |DATASHEET
    br
    br
    .row
        .col-4
        .col-4
            h5 Our IRC remote control system adjusts fan flow and On/Off
            ul
                li Visual feedback lamp.
                li Motor status lamp.
                li Up to 20 foot range.
                li Secure data coding.