extends ../../templates/mainLayout.pug 

block content 
    br
    br
    h1 Wireless Series
    br
    .row
        .col
            img.product-image(src='../src/photos/product-images/EVO_Bluetooth.jpg' alt='')
        .col.product-description
            ul
                li EVO/™ECM-BCU (Bluetooth® Control Unit)
                li EVO/™BT Configurator (Windows Configurator Tool)
                li EVO Devices Android and iPhone Apps
            a.btn.btn-secondary.products(href=baseUrl + 'products-sub-pages/wireless-series-subpage.html' type='button')
                | see more
    br
    .row
        .col
            img(src='' alt='')
        .col.product-description
            ul
                li EVO/™IRC-Remote (Infrared Remote Control Unit)
                li EVO/™IRC-Remote Sensor
                li EVO/™ECM-IRC Controller
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | see more