extends ../../templates/mainLayout.pug 

block content
    .row.wireless-subpage
        .col
            img(src="", alt="BCU Img")
            h5 EVO/ECM-BCU BLUETOOTH® CONTROL UNIT
            ul
                li
                    |System solution for small cleanroom fan filter arrays· Indoor air filter units for schools and hospitals
                li
                    |Whole house fans
                li
                    |Fan installed at hard-to-reach locations
                li
                    |Get the control app Evo Devices on Google Play Store and the Apple App Store now.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                |datasheet
        .col
            img(src="", alt="android app screenshots")
            img(src="", alt="apple app screenshots")
            h5 EVO DEVICES ANDROID AND IPHONE CONTROL APPS
            p Get the control app Evo Devices on Google Play Store and the Apple App Store now.
            a(href="")
                img(src="../photos/photo-images/android-google-play.png", alt="google play store")
            a(href="")
                img(src="", alt="apple app store")
        .col
            img(src="", alt="BT Config to comp")
            ul
                li
                    |Custom factory configuration
                li
                    |Archiving master configuration
                li
                    |Quick downloading a master configuration to ECM-BCUs
            a(href="")
                |bt configurator download
            a(href="")
                |bt configurator user guide