extends ../../templates/mainLayout.pug

block head
    title IRC — Evolution Controls Inc.

block content
    br
    br
    .row
        .col-2
        .col-3
            img.irc-image(src='../src/photos/wireless-subpage/Handheld.jpg' alt='IRC Remote')
            h5 EVO/™IRC-REMOTE
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | datasheet
        .col-3
            img.irc-image(src='../src/photos/wireless-subpage/remotesensor.gif' alt='IRC Remote')
            h5 EVO/™IRC-REMOTE SENSOR
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                |datasheet
        .col-3
            img.irc-image(src='../src/photos/wireless-subpage/Handheld.jpg' alt='IRC Remote')
            h5 EVO/™ECM-IRC CONTROLLER
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                |datasheet
    br
    br
    .row
        .col-4
        .col-4
            p Our IRC remote control system adjusts fan flow and On/Off
            ul
                li Visual feedback lamp.
                li Motor status lamp.
                li Up to 20 foot range.
                li Secure data coding.