extends ../../templates/mainLayout.pug

block content
	br
	br
	h1 Applications
	br
	br
	.row
		.col
			img(src='' alt='')
		.col.product-description
			h5 MODBUS/BACNET INTEGRATION
			p
				|A BACnet building automation system may include HVAC, 
				|lighting, and life safety subsystems. The EVO/ECM-Modbus 
				|RTU fan system can now be integrated to a BACnet building  
				|automation network through Modbus to BACnet gateways to 
				|operate in response to other subsystems. The gateway directs 
				|the data flow back and forth between BACnet’s subsystems 
				|and the Modbus network.
				br
				br
				|The EVO/ECM-BACnet-Modebus library provides
				|the mapping files for the Control Solutions 
				|B1-10x Babel Buster SPX gateway to translate 
				|between the EVO/ECM-Modbus RTU registers and the BACnet objects.
				|See the intgration section in the Application Guide for detail.
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| LIBRARY DOWNLOAD
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| DOWNLOAD CONFIGURATION AND USER GUIDE
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				|APPLICATION GUIDE
	br
	br
	.row
		.col
			img(src='' alt='')
		.col.product-description
			h5 EVO/™ECM-4SPD CONTROL UNIT
			h3 APPLICATION FOR VAV WITH STAGED ELECTRIC HEAT
			p
				|The EVO/ECM-4Spd control can be applied to most EC fan 
				|powered VAV terminals with staged electric heat.
				br
				br
			ul
				li Energy Savings.
				li Improved Ventilation.
				li Improved Comfort.
			br
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| LEARN MORE