extends ../../templates/mainLayout.pug

block content
    br
	br
	h1 Applications
	p
		| Evolution Controls Inc. is pleased to present our newest additions to
		| the expanding line of controllers for the energy-saving EC Motors.
	