extends ../../templates/mainLayout.pug

block head
    title Guide Specs — Evolution Controls Inc.

block content
    br
    br
    h1 Guide Specs
    br
    br
    p 
        a(href= 'https://drive.google.com/file/d/1BmYkF9m5SYJPD9QJmEt-V0Qwy61qg_zf/view') EVO/™EHM ( SSR Electric Heater Module)