@media (max-width: 428px) {
   .topnav {
      overflow: hidden;
      position: relative;
   }
   .nav-bar {
      font-size: 14px;
   }
   .row.menu #nav-links {
      display: none;
   }
   a {
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
   }
   .icon {
      background: rgb(175, 175, 175);
      display: block;
      position: absolute;
      margin-left: 50%;
      right: 0;
      top: 0;
   }
   /* Style the active link (or home/logo) */
   .active {
      background-color: #04aa6d;
      color: white;
   }

   .footer {
      font-size: 11px;
   }
}

.menuLogo {
   display: inline;
   max-width: 250px;
}
.menu {
   border-radius: 15px;
   padding: 1% 2%;
   margin: 1.25%;
}
.menu:hover {
   background-color: #e7e7e7;
   transition: ease-in-out 200ms;
}
.dropdown {
   float: left;
}
.dropbtn {
   background-color: inherit;
   border: none;
   outline: none;
}
.dropdown-content {
   background-color: #f9f9f9;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   display: none;
   font-size: 14px;
   min-width: 170px;
   position: absolute;
   z-index: 1;
}
.dropdown-content a {
   display: block;
   padding: 12px 12px;
   text-align: left;
   text-decoration: none;
}
.dropdown-content a:hover {
   background-color: #c7c6c6;
   transition: ease-in-out 200ms;
}
.dropdown:hover .dropdown-content {
   display: block;
}
.footer-bar {
   background-color: rgb(255, 15, 0);
   margin-top: 100px;
   padding: 15px;
}
.footer {
   background-color: black;
   color: white;
   padding: 70px;
   margin: 0 auto;
   text-align: center;
}
