body {
   font-size: 18px;
   margin: 0 auto;
}
a {
   color: black;
   text-align: center;
   text-decoration: none;
}
a:hover {
   color: #ff0000;
   transition: ease-in-out 200ms;
}
p {
   text-align: center;
   font-size: 18px;
}
h1 {
   font-family: "Noto Sans JP", sans-serif;
   font-weight: 700;
   text-align: center;
}
li {
   padding: 6px;
   list-style: none;
   max-width: 550px;
}

.photo-carousel {
   text-align: center;
   margin: 0 auto;
   max-width: 85%;
}
.menuLogo {
   max-width: 200px;
}
.menu {
   border-radius: 10px;
   font-family: "Noto Sans JP", sans-serif;
   padding: 30px 70px;
   margin: 10px;
}
.menu:hover {
   background-color: #e7e7e7;
   transition: ease-in-out 200ms;
}
.menu-title {
   padding-top: 10px;
}
.bioBody {
   margin: 60px auto;
   max-width: 700px;
}
.logo {
   display: block;
   margin: 50px auto;
   max-width: 150px;
}

.footer-bar {
   background-color: red;
   margin-top: 100px;
   padding: 10px;
}
.footer {
   background-color: black;
   color: white;
   padding: 70px;
   margin: 0 auto;
   text-align: center;
}
.distributor-bio {
   max-width: 380px;
}
.bsr-logo {
   padding-top: 30px;
}
.canadian-distributor {
   padding-top: 65px;
}
.datasheet-list {
   padding-left: 300px;
}
.products {
   border-radius: 15px;
   margin: 20px;
}
