body {
   font-size: 18px;
   margin: 0 auto;
}
a {
   color: black;
   text-decoration: none;
}
h1 {
   text-align: center;
}
li {
   list-style: none;
}
.photo-carousel {
   text-align: center;
   margin: 0 auto;
   max-width: 1000px;
}
.menuLogo {
   max-width: 200px;
}
.menu {
   background-color: #e7e7e7;
   padding: 10px 70px;
   margin: 10px;
}
.bioBody {
   margin: 60px auto;
   max-width: 650px;
}
.logo {
   display: block;
   margin: 50px auto;
   max-width: 150px;
}
.bio {
   font-size: 18px;
}
.red {
   background-color: red;
   padding: 15px;
   margin-top: 50px;
}
.footer {
   background-color: black;
   color: white;
   padding: 70px;
   margin: 0 auto;
   text-align: center;
}
.distributor-bio {
   max-width: 380px;
}
