body {
   font-size: 18px;
   margin: 0 auto;
}
a {
   color: black;
   text-align: center;
   text-decoration: none;
}
a:hover {
   color: red;
   transition: ease-in-out 200ms;
}
h1 {
   text-align: center;
}
li {
   list-style: none;
}
.photo-carousel {
   text-align: center;
   margin: 0 auto;
   max-width: 1000px;
}
.menuLogo {
   max-width: 200px;
}
.menu {
   background-color: #e7e7e7;
   padding: 10px 70px;
   margin: 10px;
}
menu:hover {
   background-color: aliceblue;
}
.bioBody {
   margin: 60px auto;
   max-width: 700px;
}
.logo {
   display: block;
   margin: 50px auto;
   max-width: 150px;
}
.bio {
   font-size: 18px;
}
.footer-bar {
   background-color: red;
   margin-top: 100px;
   padding: 10px;
}
.footer {
   background-color: black;
   color: white;
   padding: 70px;
   margin: 0 auto;
   text-align: center;
}
.distributor-bio {
   max-width: 380px;
}
.bsr-logo {
   padding-top: 30px;
}
.canadian-distributor {
   padding-top: 65px;
}
