.wireless-subpage {
   padding-left: 70px;
}
.button {
   margin: 15px;
   text-align: center;
}
.app-store {
   padding: 10px;
   max-width: 200px;
}
.app {
   margin: 0;
}
.app-screen {
   max-width: 300px;
}
.wireless-images {
   display: block;
   max-width: 500px;
   padding: 100px 0 0 50px;
}
